* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font: 400 16px/32px Fresca, serif;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 16px 0 16px 16px;
  border-left: 3px solid #3498db;
}

input {
  padding: 8px;
}

iframe {
  border: 0;
}

/* blocks */

.youtube-inspiration__url-input-wrapper {
  display: flex;
  justify-content: space-between;
}

.youtube-inspiration__url-input-label {
  flex: 0 0 125px;
}

.youtube-inspiration__url-input {
  flex: 1 auto;
}

.youtube-inspiration__url-input-clear {
  flex: 0 0 50px;
}