/* ---------------------------------------------------------------- groupings */

  html
, .announcements__announcement-list
, .attendees__list
{
  padding: 0;
}

  html
, body
, .announcements__make-new-title
, .announcements__header
, .header__title
, .attendees__name
, .attendees__question-title
, .attendees__title
{
  margin: 0;
}

  .youtube-inspiration__url-input-wrapper
, .announcements__announcement-wrapper
, .announcements__make-new-wrapper
, .announcements__header
, .attendees__header
{
  display: flex;
  justify-content: space-between;
}

  input
, textarea
, .announcements__announcement-wrapper
{
  padding: 8px;
}

  .youtube-inspiration__url-input
, .announcements__announcement-input
, .announcements__make-new-title
{
  flex: 1 auto;
}

  .announcements__make-new-wrapper
, .announcements__header
, .header
, .attendees__header
{
  padding: 16px 0;
}

  .announcements__announcement-list
, .attendees__list
{
  list-style: none;
}

  .attendees__question-input
, .end-stand-up__button
{
  width: 100%;
}


/* ------------------------------------------------------------------ general */

  *
{
  box-sizing: border-box;
}

  html
, body
, .end-stand-up__button
{
  font: 400 16px/32px Fresca, serif;
}

  body
{
  margin-left: auto;
  margin-right: auto;
  width: 666px;
  padding: 16px;
  border-left: 3px solid #3498db;
}

  textarea
{
  font-size: 16px;
  resize: none;
}

  iframe
{
  border: 0;
}

  input
, textarea
{
  border: 1px solid #eee;
}


/* ------------------------------------------------------------------- blocks */

  .wrapper > * + *
{
  border-top: 1px solid whitesmoke;
  margin-top: 16px;
  padding-top: 16px;
}

  .header
{
  position: sticky;
  top: 0px;
  background-color: white;
}

  .youtube-inspiration__url-input-label
{
  flex: 0 0 125px;
}

  .youtube-inspiration__url-input-clear
{
  flex: 0 0 50px;
}

  .announcements__announcement-wrapper
{
  background-color: #f8e187;
  border-left: 10px solid #f39c12;
  line-height: 20px;
  cursor: pointer;
}

  .announcements__announcement-button
{
  flex: 0 0 35px;
}

  .attendees__avatar
{
  width: 75px;
  height: 75px;
}

  .media
{
  display: flex;
  align-items: flex-start;
}

  .media__figure
{
  margin-right: 16px;
}

  .media__body
{
  flex: 1;
}

  .attendees__github-username
{
  color: #95a5a6;
}

  .attendees__attendee-info
{
  flex-basis: 200px;
}

  .attendees__question-answer
{
  border-left-width: 6px;
  border-left-style: solid;
  padding-left: 16px;
}

  .attendees__question-answer--did-yesterday
{
  border-left-color: #2ecc71;
}

  .attendees__question-answer--will-do-today
{
  border-left-color: #f1c40f;
}

  .attendees__question-answer--blocking-me
{
  border-left-color: #e74c3c;
}

  .attendees__question-answer--connect-with
{
  border-left-color: #9b59b6;
}

  .attendees__list > * + *
{
  margin-top: 32px;
}

  .announcements__announcement-list > * + *
{
  margin-top: 16px;
}

  .end-stand-up__button
{
  padding: 32px;
  border-radius: 10px;
  border: 0;
  background-color: #3498db;
  cursor: pointer;
  color: white;
  font-size: 32px;
}